{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    {% block extra_css %}{% endblock %}
</head>
<body>

<header>
    <h1>Tree Visualization</h1>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>&copy; Nurassyl Zekenov, 2023</p>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% block extra_js %}{% endblock %}

</body>
</html>
